.fondo{
	background-color: blue;
	border: solid;
	border-color: white;
}

.fondo1{
	background-color: green;
	border:solid;
	border-color: white;
}

.fondo2{
	background-color: red;
	border:solid;
	border-color: white;
}